---
title: ShadowAgency
data:
  no_dark_switch: true
  sections:
    banner:
      type: banner
    redirect:
      type: html
    hero:
      type: hero
    carousel:
      type: carousel
    service:
      type: service
---
{% set_k2 data.sections.redirect,'html' %}
<section id="redirect" class="section-redirect" style="padding: 100px 0; text-align: center; color:">
<div class="container"><div class="row"><div class="hero"><div class="hero-content"><p>
##REDIRECT_HTML##
</p></div></div></div></div>
</section>
{% endset_k2 %}


