---
permalink: /search/
eleventyExcludeFromCollections: true
---

<script src="/js/lunr.js"></script>
<h1>Results</h1>
<ul id="results">
	Searching...
</ul>
<script>
	const p = new URLSearchParams(location.search)
	const q = p.get('q')
	fetch('qidx.txt').then( r => r.json() ).then( j => {
		var idx = Lunr.lunr.Index.load(j)
		var res= idx.search(q)
		let html= res.map( r => {
			let [url, title]= r.ref.split('\t',2)
			return `<li><a href="..${url}">${title}</a></li>` //A: template!
		}).join('\n');
		document.getElementById('results').innerHTML= html;
	})
</script>

