---
data:
  reuse:
    logo: &logo
      sketch: logo
      text: "🌖AguaDeLuna" # SEE: https://emojipedia.org/chart-increasing 
  images_gen:
    images/logo-dark.png:
      <<: *logo
      color: "#FF7F3E"
      bgcolor: "#ffffff"
    images/logo-light.png:
      <<: *logo
      color: "#ffffff"
      bgcolor: "#FF7F3E"
  sections:
    home:
      type: hero
      v_txt_hero_big: acompañamiento espiritual
      v_txt_hero_small: te acompaño
      v_txt_subscribe: Quiero saber más
      v_hero_no_input: true
    contacto:
      type: contact
      v_contact_title: Contacto
      v_contact_txt: Llamame
      contact_items:
        mail: celia@celia.com
        link: celia.com
        map-pin: Valencia, España
---
