---
data:
  reuse:
    logo: &logo
      sketch: logo
      width: 800
      font: parisienne
      text: 
        - "2,50ALCS80:🌖" # SEE: https://emojipedia.org/chart-increasing 
        - "35,40AL_S43:Aysu"
  images_gen:
    images/logo-dark.png:
      <<: *logo
      color: "#FF7F3E"
      bgcolor: "#ffff00"
    images/logo-light.png:
      <<: *logo
      color: "#ffffff"
      bgcolor: "#ffff00"
  sections:
    home:
      type: hero
      v_txt_hero_big: acompañamiento espiritual
      v_txt_hero_small: te acompaño
      v_txt_subscribe: 
      v_hero_no_input: true
    Terapias: #nombre de la sección en el navbar
      type: pictxt
      items:
        - v_img: arte.jpg
          markdown: |
             ## Astrologia
          
             Un parrafo con texto,
             lo que yo quiera.

             Si dejo un renglon vacio empieza otro parrafo.
        - v_img: masaje.jpg
          markdown: |
            ## Masajes
          
            - Quiromasajes con aceites esenciales
            - Masaje Ayurueda
            - Masaje Metamórfico

        - v_img: TODO2.jpg
          markdown: |
            ## Reiki Usui

        - v_img: TODO2.jpg
          markdown: |
            ## Cristalo terapia y péndulo

        - v_img: TODO2.jpg
          markdown: |
            ## Tarot terapeutico

    contacto:
      type: contact
      v_contact_title: Contacto
      v_contact_txt: Llamame
      contact_items:
        mail: celia@celia.com
        link: celia.com
        map-pin: Valencia, España
---
