---
layout: g1/css.njk
v_logo_height_px: 48
v_body_font: "Playwrite+GB+S"
v_body_font_variant: "cursive"
v_title_font: "Playwrite+CO"
v_title_font_variant: "cursive"
v_color_primary: "FF7F3E"
v_color_primary_active: "804040"
v_color_white: "FFF6E9"
---
