---
data:
  sections:
    home:
      type: hero
      v_txt_hero_big: p.v_txt_hero_big
      v_txt_hero_small: p.v_txt_hero_small
      v_txt_subscribe: p.v_txt_subscribe
    articulos:
      type: blog
      v_blog_title: p.v_blog_title
      v_blog_txt: p.v_blog_txt
      posts:
        - v_date: post.v_date
          v_author: post.v_author
          v_img: p.v_img
          v_link: p.v_link
          v_title: post.v_title
          v_txt: post.v_txt
          v_ask_txt: post.v_ask_txt
    contacto:
      type: contact
      v_contact_title: p.v_contact_title
      v_contact_txt: p.v_contact_txt
      contact_items:
        mail: m@mauriciocap.com
        link: mauriciocap.com
        map-pin: Argentina / UE / USA
---
