---
title: ShadowAgency
data:
---
{% import "o-o/macros.njk" as tw with context %}

{% set content %}
<div style="color: #000; margin-top: 40px;">
	<h1 class="h4">Discover the Archetype</h1>
	<div style="min-height: 40vh">
	<ul id="o_hint">
	</ul>
	<div id="o_result"></div>
	</div>
	<div>
		<button id="b_hint">(hint)</button>
		{% for k,v in items %}
			<button id="b_{{k}}">{{k}}</button>
		{% endfor %}
	</div>
	<div>
		<h1 class="h5">Your stats</h1>
		<div id="o_score">
		</div>
	</div>
</div>
<script>
	const $= (s) => document.querySelector(s)
	const DBG= (r,msg,lvl, ...details) => { lvl>0 && console.log(msg,r,...details); return r }
	const rnd_element= (list) => list[Math.floor(Math.random()*list.length)];
	const rnd_mix= (list) => { 
		let c= [...list]; let r= []; while (c.length) { r.unshift(rnd_element(c)); c= c.filter(e => e!=r[0]) }
		return r;
	}

	const data=#O-O#INCLUDE#archetype.json# 
	const archs= data.items;
	const arch_names= Object.keys(archs);	

	let score= {};
	let goal_name;
	let hints;
	let hints_used;
	const game= () => {
		if (!hints) {
			$('#o_result').innerHTML=''; $('#o_hint').innerHTML=''; 
			goal_name= rnd_element(arch_names);
			let goal= archs[goal_name];
			let fears= rnd_mix( goal.Fears.toLowerCase().split(/,\s*/) ).map(w => ('fears '+w))
			let traits= rnd_mix( goal.Traits.toLowerCase().split(/,\s*/) ).map(w => (w+' may be a trait'))
			let style= rnd_mix( goal['Branding style'].toLowerCase().split(/,\s*(?:and\s)?/) ).map(w => ('wants to be seen as '+w))
			
			hints= rnd_mix([...fears,...traits, ...style]);
			hints_used= 0;
		}
		return hints;
	}

	const register_score= (did_guess) => {
		(score[goal_name] ||= []).push({did_guess: did_guess, cnt: hints_used})
		let items_html= Object.entries(score)
			.map(([arch,scores]) => {
				let not_guess= 0, sum=0, max=0;
				scores.forEach( e => { sum+= e.cnt; max= Math.max(max,e.cnt); if (!e.did_guess) { not_guess++ } })
				let avg= (sum/scores.length).toFixed(1);
				return [not_guess,max,avg,arch];
			})
			.sort( (b,a) => DBG( a.slice(0,3).find((as,i) => (parseFloat(a[i])-parseFloat(b[i]))) || (a[3]<b[3]?-1:0) , "cmp",0,a,b))
			.map( ([not_guess,max,avg,arch]) => `<li>👀.fyi ${arch}: ${not_guess ? 'missed '+not_guess+', ' : ''} took you as much as ${max} hints, ${avg} on average</li>`)
			.join('');
			$('#o_score').innerHTML= `<ul>${items_html}</ul>`
	}

	const restart_game= (msg) => { 
		if (goal_name) { $("#o_result").innerHTML= `${msg} The Archetype is <a href="../${goal_name.toLowerCase()}/">${goal_name}</a> and desires ${archs[goal_name].Desire}` }
		hints=null; hints_used=0;
	}
	const show_hint= () => { 
		let hint= game().pop(); hints_used++;
		if (hint)  { $('#o_hint').innerHTML+=`<li>👀.fyi: ${hint}</li>`; }
		else { register_score(false); restart_game("No more hints") }
	}

	$('#b_hint').onclick= show_hint;
	arch_names.forEach(k => { $('#b_'+k).onclick= () => {
		if (k==goal_name) { register_score(true); restart_game("Correct!"); }
		else { show_hint() }
	}});	
</script>
{% endset %}

{{ tw.r(data,content) }}

