---
title: Construimos con Widgets
---
{% import "lib/bs/macros.njk" as w %}

{% markdown %}
Construimos 

* usando _widgets_ (componentes) para dibujar como html, css, png, etc. i
* datos que recibimos como yaml, json, de planillas y apis, etc.

Intentamos que los widgets sean lo más genéricos y reusables que podamos. 
Pero también los agrupamos en _temas_ de modo que la navbar, el footer o un blog
pueden dibujarse diferente (otra estructura de html) con solo cambiar el tema en una variable.

A su vez los temas son configurables de modo que no haga falta crear un tema solo para cambiar colores.
{% endmarkdown %}

{{ w.bquote(author="Mauricio Cap", source="Este sitio", text="Esta quedando bueno") }}

{{ w.typo_lead(text="Esto es un parrafo, capaz me convenia probar con call?") }}

{% call w.typo_lead() -%}
Este lo escribo
adentro con call.
{%- endcall %}

{{ w.table(row_cls_col_idx=2, cols=["nombre","edad"],values=[["mau",52,"table-primary"],["conrad",3,"table-danger"],["shelly",3]]) }}

{{ w.progress(val=70) }}

{{ w.tooltip(label='preguntame',txt='Pero ya sabes que te voy a decir') }}

<p>Tenemos un {% link_to "magician" %}</p>

<p>Un icono de una alarma {{ w.icon(label="alarm",sz= "2rem", color="cornflowerblue") }}
<p>Un icono logo facebook {{ w.icon(label="facebook",cls="text-success") }}
<p>Asi funciona badge {{ w.badge(txt="57",type="warning") }}

<p>Podemos armar botones para compartir {{ w.btn(attr='data-sharer="trello" data-url="https://ellisonleao.github.io/sharer.js/" data-title="Checkout Sharer.js!" data-description="Create social share elements on DOM objects"',label='Trello') }}</p>
