---
data:
  sections:
    home:
      type: hero
      v_txt_hero_big: Vengo con el cheque
      v_txt_hero_small: Y te dejo una empresa que aprende
      v_txt_subscribe: Quiero saber más
    articulos:
      type: blog
      v_blog_title: p.v_blog_title
      v_blog_txt: p.v_blog_txt
      posts:
        collection: mauriciocapposts
    contacto:
      type: contact
      v_contact_title: Contacto
      v_contact_txt: Me interesa ayudarte con tu negocio
      contact_items:
        mail: m@mauriciocap.com
        link: mauriciocap.com
        map-pin: Argentina / UE / USA
---
