{% import 'lib/bs/macros.njk' as cmp with context %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include "layouts/widgets/head.njk" %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
	</head>
	<body>
		{{ cmp.navbar() }}
		<div class="col-lg-8 mx-auto p-3 py-md-5">
			<main{% if templateClass %} class="container pt-3 {{ templateClass }}"{% endif %}>
				<div class="row">
					<div class="col-md-9 p-3 p-md-5">
						{{ content | safe }}
					</div>
					<footer class="pt-5 my-5 text-muted border-top">
						TODO &middot; &copy; {{ now | formatDate("yyyy") }}
					</footer>
				</div>
			</main>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
	</body>
</html>
