<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
		<title>{{ title or "XXX:title" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- css -->
    <link href="/l1b_/g1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/l1b_/g1/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
		<link href="#O-O#TRY_PATHS#style.css {{ data.site.v_site_base_path }}style.css /l1b_/g1/css/style.css#" rel="stylesheet" type="text/css" />
</head>

{{ content | safe }}
