{# DATA
data:
  navactions: true
  defaults: &defaults
    v_site_url: https://o-o.fyi
    title_: Xtitle_ 
    v_brand_name: AgencyClient
    v_agency_name: AgencyName
    v_currency: "$"
    v_action_txt: "XACTION TEXT"
    v_contactus_txt: contact us
    v_lbl_emailaddr: email address*
    v_lbl_message: message*
    v_lbl_sendmessage: send message
    v_lbl_userormail: username / email
    v_lbl_forgotpass: forgot password.?
    v_lbl_remember: remember me
    v_lbl_newuser: register
    v_lbl_oauth: social login
    v_lbl_pass: password
    v_lbl_welcome: welcome
    v_txt_subscribe: subscribe
    v_pricing_title: choose your plan
    v_pricing_txt: >-
      et harum quidem rerum facilis est et expedita distinctio nam libero tempore
      cum soluta nobis eligendi cumque.
    v_img_src_images_pricing_bottom_bg_png: images/pricing-bottom-bg.png
    #pricing
    v_img_src_images_features_img_png: images/features-img.png
    v_txt_17: >-
      et harum quidem rerum facilis est et expedita distinctio nam libero tempore
      cum soluta nobis eligendi cumque.
    #XXX_features
    #XXX
    v_txt_hero_big: we help startups launch their products with awesome website
    v_txt_hero_small: >-
      et harum quidem rerum facilis est et expedita distinctio nam libero tempore
      cumque nihil impedit quo minus quod maxime.
    #XXXhero
    v_whyus_title: why choose us ?
    v_txt_50: >-
      et harum quidem rerum facilis est et expedita distinctio nam libero tempore
      cum soluta nobis eligendi cumque.
    #XXXwhyus
    v_txt_54: support@website.com
    v_txt_55: www.website.com
    v_txt_56: (+001) 123 456 7890
    v_txt_57: 9:00 am - 6:00 pm
    v_txt_58: 1644 deer ridge drive rochelle park, nj 07662
    v_txt_59: >-
      cras ultricies mi eu turpis sit hendrerit fringilla vestibulum ante ipsum
      primis in faucibus ultrices posuere cubilia.
    #XXXfooter
    v_txt_71: user name
  sections:
    mifeatures:
      << : *defaults
      type: features
    miwhyus:
      << : *defaults
      type: whyus
    miprice:
      << : *defaults
      type: pricing
      options:
        - v_title: opt1
          v_price: 19
          v_unit: año
          v_features:
            - copado
            - veraniego
        - v_title: optB
          v_price: 59
          v_unit: mes
          v_highlighted: true
          v_features:
            - la que va
            - mejor
        - v_title: optC
          v_price: 959
          v_unit: vida 
          v_features:
            - a todo culo
            - procelanato
    mihome: 
      << : *defaults
      type: hero
    miotra:
      << : *defaults
      type: contact
      contact_items:
        mail: x@y.com
        link: podemosaprender.org
        phone-call: 54 11 3030 4444
        clock: 9AM - 6PM
        map-pin: Av Calchaqui 3131

#}
{# 
@d = 'ggjv/^#:s/\t/  /gggjv/^#k:w! g1ex/index.yaml' :
#}

{% macro DBG(p,txt) %}
<!-- DBG:{{txt or ""}} {{ p | dump | safe }} -->
{% endmacro %}

{############################################################}
{% macro light_dark_mode(p) %}	
	<a href="javascript: void(0);" id="light-dark-mode" class="mode-btn text-white rounded-end">
		<i class="mdi mdi-sun-compass bx-spin mode-light"></i>
		<i class="mdi mdi-moon-waning-crescent mode-dark"></i>
	</a>
{% endmacro %}

{% macro status(p) %}	
	<div id="status">
		<div class="spinner"></div>
	</div>
{% endmacro %}

{% macro preloader(p) %}	
	<div id="preloader">

		{{ status(p) }}

	</div>
{% endmacro %}

{############################################################}
{% macro navbar_logo(p) %}	
	<a class="navbar-brand logo" href="{{ p.v_site_url }}">
		<img src="images/logo-dark.png" alt="" class="logo-dark" height="24" />
		<img src="images/logo-light.png" alt="" class="logo-light" height="24" />
	</a>
{% endmacro %}

{% macro navbar_navlist(p) %}	
	<ul class="navbar-nav mx-auto navbar-center" id="navbar-navlist">
		{% for link, text in p.navitems %}
			<li class="nav-item">
				<a data-scroll href="{{ link }}" class="nav-link">{{ text }}</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro navbar_actions(p) %}
	<ul class="navbar-nav navbar-center">
		<li class="nav-item">
			<a href="{{ p.v_a_href__login }}" class="nav-link" data-bs-toggle="modal"
																												 data-bs-target="#loginModal">{{ p.v_a_Login }}</a>
		</li>
		<li class="nav-item">
			<a href="{{ p.v_a_href__login }}" class="nav-link" data-bs-toggle="modal"
																												 data-bs-target="#loginModal-1">{{ p.v_a_Register }}</a>
		</li>
	</ul>
{% endmacro %}

{% macro navbarCollapse(p) %}	
	<div class="collapse navbar-collapse" id="navbarCollapse">
		{{ navbar_navlist(p) }}
		{% if p.navactions %}{{ navbar_actions(p) }}{% endif %}
	</div>
{% endmacro %}

{% macro navbar_1(p) %}	
	<div class="container">
		{{ navbar_logo(p) }}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
																																					 aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<i class="mdi mdi-menu"></i>
		</button>
		{{ navbarCollapse(p) }}
	</div>
{% endmacro %}

{% macro navbar(p) %}	
	<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky navbar-light sticky-dark" id="navbar">
		{{ navbar_1(p) }}
	</nav>
{% endmacro %}

{# HERO #####################################################}
{% macro hero_slogan(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="text-center">
				<h1 class="text-white hero-6-title mb-4 line-height-1_4">{{ p.v_txt_hero_big }}</h1>
				<p class="text-white-50 w-75 mx-auto font-size-15">{{ p.v_txt_hero_small }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro hero_action(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-8 ">
			<div class="text-center Subcribe-form mt-5">
				<form action="#">
					<input type="text" placeholder={{ p.v_txt_enter_mail or "Enter your Email..." }} />
					<button type="submit" class="btn rounded-pill btn-primary ml-2 ms-2">{{ p.v_txt_subscribe }}</button>
				</form>
			</div>
		</div>
	</div>
{% endmacro %}


{% macro hero(p) %}	
	{{ DBG(p,"hero") }}
	<section class="hero-6-bg position-relative" style="background-image: url(images/hero-6-bg-img.jpg)" id="{{p.id}}">
		<div class="bg-overlay"></div>
		<div class="container">
			{{ hero_slogan(p) }}
			{{ hero_action(p) }}
		</div>
	</section>
{% endmacro %}

{# WHY US ###################################################}
{% macro whyus_reason_box(p,reason) %}	
	<div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
		<div class="wc-box-icon">
			<i class="mdi mdi-collage"></i>
		</div>
		<h5 class="fw-bold mb-2 wc-title mt-4">{{ reason.title }}</h5>
		<p class="text-muted mb-0 font-size-15 wc-subtitle">{{ reason.text }}</p>
	</div>
{% endmacro %}

{% macro whyus_reason_col(p) %}	
	<div class="col-md-6">
		{% for reason in p.v_reasons %}
			{{ whyus_reason_box(p, reason) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro whyus_reason_row(p) %}	
	<div class="col-lg-8 align-self-center">
		<div class="row">
			{{ whyus_reason_col(p) }}
			{{ whyus_reason_col(p) }}
		</div>
	</div>
{% endmacro %}

{% macro whyus(p) %}	
	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				{{ whyus_reason_row(p) }} {# XXXFOR #}
				{{ whyus_reason_row(p) }}
			</div>
		</div>
	</section>
{% endmacro %}

{# FEATURES #################################################}
{% macro features_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_title }}</h3>
				<p class="text-muted font-size-15">{{ p.v_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro features_1_img(p,feature) %}	
	<div class="col-lg-6 align-self-center">
		<div class="mb-4 mb-lg-0">
  		<img src="{{ feature.v_img }}" alt="" class="img-fluid d-block mx-auto" />
		</div>
	</div>
{% endmacro %}

{% macro features_1_desc(p,feature) %}	
	<div class="col-lg-5 offset-lg-1 align-self-center">
		<p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i> {{feature.v_group_txt}}</p>
		<h3 class="font-weight-semibold line-height-1_4 mb-4">{{ feature.v_title }}</h3>
		<p class="text-muted font-size-15 mb-4">{{ feature.v_txt_1 }}</p>
		<p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="layout"></i> Donec pede justo
		fringilla vel nec.</p>
		<p class="text-muted"><i class="icon-xs me-1" data-feather="life-buoy"></i> Cras ultricies mi eu
		turpis hendrerit fringilla.</p>
		<div class="mt-5">
			<a href="{{ feature.v_ask_link }}" class="btn btn-primary me-2">{{ feature.v_ask_txt }}</a>
			<a href="{{ feature.v_act_link }}" class="btn btn-soft-primary">{{ feature.v_act_txt }}</a>
		</div>
	</div>
{% endmacro %}

{% macro features_1(p,feature) %}	
	<div class="row justify-content-center">
		{{ features_1_img(p,feature) }}{#XXX: alternar izq der#}
		{{ features_1_desc(p,feature) }}
	</div>
{% endmacro %}

{% macro features(p) %}{#XXX:for#}	
	<section class="section bg-light feather-bg-img" style="background-image: url(images/features-bg-img.png);"
																									 id="{{p.id}}">
		<div class="container">
			{{ features_header(p) }}
			{% for feature in p.features %}
				{{ features_1(p,feature) }}
			{% endfor %}
		</div>
	</section>
{% endmacro %}

{############################################################}
{% macro blog_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_blog_title }}</h3>
				<p class="text-muted font-size-15"{{ p.v_blog_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro blog_post_meta(p,post) %}	
	<ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
		<li class="list-inline-item me-3"><i class="icon-size-15 icon me-1"
																				 data-feather="calendar"></i> April 10 2020</li>
		<li class="list-inline-item"><i class="icon-size-15 icon me-1" data-feather="user"></i>
			Author</li>
	</ul>
{% endmacro %}

{% macro blog_post_1(p,post) %}	
	<div class="col-lg-4">
		<div class="blog-box mb-4 mb-lg-0">
			<img src="{{ p.v_img }}" alt="" class="img-fluid d-block mx-auto rounded" />
			{{ blog_post_meta(p,post) }}
			<a href="{{ p.v_a_href__ }}" class="fw-bold h5">{{ post.v_title }}</a>
			<p class="text-muted font-size-15">{{ post.v_txt }}</p>
			<a href="{{ p.v_a_href__ }}" class="text-primary  font-weight-semibold">{{ post.v_ask_txt }}<span                                 class="ms-2 right-icon">&#8594;</span></a>
		</div>
	</div>
{% endmacro %}

{% macro blog_post_1(p) %}	
	<div class="row">
		{% for post in p.posts %}
			{{ blog_post_1(p,post) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro blog(p) %}	
	<section class="section" id="{{p.id}}">
		<div class="container">
			{{ blog_header(p) }}
			{{ blog_posts(p) }}
		</div>
	</section>
{% endmacro %}


{############################################################}
{% macro contact_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_contactus_txt }}</h3>
				<p class="text-muted font-size-15">{{ p.v_txt_50 }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro contact_form(p) %}	
	<div class="custom-form mb-5 mb-lg-0">
		<form method="post" name="myForm" onsubmit="return validateForm()">
			<p id="error-msg"></p>
			<div id="simple-msg"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">{{ p.v_label_Name_ }}</label>
						<input name="name" id="name" type="text" class="form-control"
																										 placeholder="Your name..." />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="email">{{ p.v_lbl_emailaddr }}</label>
						<input name="email" id="email" type="email" class="form-control"
																												placeholder="Your email..." />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="comments">{{ p.v_lbl_message }}</label>
						<textarea name="comments" id="comments" rows="4" class="form-control"
																														 placeholder="Your message..."></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" id="submit" name="send" class="btn btn-primary">{{ p.v_lbl_sendmessage }}<i class="icon-size-15 ms-2 icon" data-feather="send"></i></button>
				</div>
			</div>
		</form>
	</div>
{% endmacro %}

{% macro contact_detail(p) %}	
	<div class="contact-detail text-muted ms-lg-5">
		{% for type,text in p.contact_items %}
			<p class=""><i class="icon-xs icon me-1" data-feather="{{type}}"></i> : <span>{{ text }}</span> </p>
		{% endfor %}
	</div>
{% endmacro %}

{% macro contact(p) %}	
	<section class="section bg-light" id="{{ p.id }}">
		<div class="container">
			{{ contact_header(p) }}
			<div class="row justify-content-center">
				<div class="col-lg-7 align-self-center"> {{ contact_form(p) }} </div>
				<div class="col-lg-5 align-self-center"> {{ contact_detail(p) }} </div>
			</div>
		</div>
	</section>
{% endmacro %}

{# FOOTER ###################################################}
{% macro footer_links_contact(p) %}	
	<ul class="list-inline footer-social-icon-content">
		{% for where, hrefandtext in p.v_contact_links %}
			<li class="list-inline-item me-4"><a href="{{ hrefandtext.link }}" class="footer-social-icon {{ where }}"><i class="" data-feather="{{where}}"></i></a></li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro footer_links_contact_col(p) %}	
	<div class="col-lg-4">
	<div class="mb-5">
		<img src="images/logo-light.png" alt="" class="" height="24" />
		<p class="text-white-50 my-4 font-size-15">{{ p.v_txt_59 }}</p>
		{{ footer_links_contact(p) }}
	</div>
	</div>
{% endmacro %}

{% macro footer_links(p,col) %}	
	<ul class="list-unstyled footer-sub-menu">
		{% for link,text in col %}
			<li><a href="{{ link }}" class="footer-link">{{ test or link }}</a></li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro footer_links_col(p,col) %}	
	<div class="col-md-4">
		<h6 class="text-white text-uppercase mb-3">{{ p.v_h6_Support }}</h6>
		{{ footer_links(p, col) }}
	</div>
{% endmacro %}

{% macro footer_cols(p) %}	
	<div class="col-lg-7 offset-lg-1">
		<div class="row">
			{% for title,col in p.footer_cols %}
				{{ footer_links_col(p,col) }}
			{% endfor %}
		</div>
	</div>
{% endmacro %}

{% macro footer_link_cols(p) %}	
	<section class="footer" style="background-image: url(images/footer-bg.png)">
		<div class="container">
			<div class="row">
				{{ footer_links_contact_col(p) }}
				{{ footer_cols(p) }}
			</div>
		</div>
	</section>
{% endmacro %}

{% macro copyright_text(p) %}
	<script>document.write(new date().getfullyear())</script> © {{ p.v_brand_name }} by {{ p.v_agency_name }}
{% endmacro %}

{% macro footer_copyright_band(p) %}	
	<div class="footer-alt py-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center">
						<p class="text-white-50 font-size-15 mb-0">
						{{ copyright_text(p) }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro footer(p) %}
	{{ footer_link_cols(p) }}
	{{ footer_copyright_band(p) }}
{% endmacro %}

		{############################################################}
		{% macro registerModal_1_1_1(p) %}	
			<div class="modal-body">

				{{ registerModal_1_1_1_1(p) }}


				{{ registerModal_1_1_1_3(p) }}

			</div>
		{% endmacro %}

{% macro registerModal_1_1_3_3(p) %}	
	<div class="position-relative text-center mt-4">
		<span class="login-border"></span>
		<p class="social-login text-muted font-size-17">{{ p.v_lbl_oauth }}</p>
	</div>
{% endmacro %}

{% macro registerModal_1_1_3_5_1(p) %}	
	<ul class="list-inline mt-2 mb-3">
		<li class="list-inline-item me-3"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-primary"><i                                             class="icon-xs" data-feather="facebook"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-info"><i                                             class="icon-xs" data-feather="twitter"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-danger"><i                                             class="icon-xs" data-feather="instagram"></i></a></li>
		<li class="list-inline-item"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-success"><i                                             class="icon-xs" data-feather="linkedin"></i></a></li>
	</ul>
{% endmacro %}

{% macro registerModal_1_1_3_5(p) %}	
	<div class="text-center">

		{{ registerModal_1_1_3_5_1(p) }}

		<p class="text-muted mb-0">{{ p.v_lbl_newuser }}<a href="{{ p.v_a_href__ }}" class="text-primary">{{ p.v_a_Signup }}</a></p>
	</div>
{% endmacro %}

{% macro registerModal_1_1_3(p) %}	
	<div class="login-form mt-4">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">{{ p.v_lbl_userormail }}</label>
				<input type="email" class="form-control" id="exampleInputEmail1"
																								 placeholder="Youremail@gmail.com" />
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">{{ p.v_lbl_pass }}</label>
				<input type="password" class="form-control" id="exampleInputPassword1"
																										placeholder="Password" />
			</div>
			<a href="{{ p.v_a_href__ }}" class="float-end text-muted font-size-15">{{ p.v_lbl_forgotpass }}</a>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck1" />
				<label class="custom-control-label font-size-15" for="customCheck1">{{ p.v_lbl_remember }}</label>
			</div>
			<div class="text-center mt-4">
				<button type="submit" class="btn btn-primary">{{ p.v_button_Login }}<i class="icon-size-15 icon ms-1"
																																							 data-feather="arrow-right-circle"></i></button>
			</div>
		</form>

		{{ registerModal_1_1_3_3(p) }}


		{{ registerModal_1_1_3_5(p) }}

	</div>
{% endmacro %}

{% macro registerModal_1_1(p) %}	
	<div class="modal-content login-page">

		{{ registerModal_1_1_1(p) }}

	</div>
{% endmacro %}

{% macro registerModal_1(p) %}	
	<div class="modal-dialog modal-dialog-centered" role="document">

		{{ registerModal_1_1(p) }}

	</div>
{% endmacro %}

{% macro registerModal(p) %}	
	<div class="modal fade" id="loginModal-1" tabindex="-1" role="dialog" aria-hidden="true">

		{{ registerModal_1(p) }}

	</div>
{% endmacro %}

{% macro loginModal(p) %}	
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		{{ registerModal(p) }}
	</div>
{% endmacro %}

{# MODAL REGISTER ###########################################}

{% macro registerModal_1_1_1_1(p) %}	
	<div class="text-center">
		<h3 class="title mb-4">{{ p.v_lbl_welcome }}</h3>
		<h4 class="text-uppercase text-primary"><b>Register</b></h4>
	</div>
{% endmacro %}

{% macro registerModal_1_1_1_3_3(p) %}	
	<div class="position-relative text-center mt-4">
		<span class="login-border"></span>
		<p class="social-login text-muted font-size-17">{{ p.v_lbl_oauth }}</p>
	</div>
{% endmacro %}

{% macro registerModal_1_1_1_3_5_1(p) %}	
	<ul class="list-inline mt-2 mb-3">
		<li class="list-inline-item me-3"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-primary"><i                                             class="icon-xs" data-feather="facebook"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-info"><i                                             class="icon-xs" data-feather="twitter"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-danger"><i                                             class="icon-xs" data-feather="instagram"></i></a></li>
		<li class="list-inline-item"><a href="{{ p.v_a_href__ }}" class="login-social-icon icon-success"><i                                             class="icon-xs" data-feather="linkedin"></i></a></li>
	</ul>
{% endmacro %}

{% macro registerModal_1_1_1_3_5(p) %}	
	<div class="text-center">

		{{ registerModal_1_1_1_3_5_1(p) }}

	</div>
{% endmacro %}

{% macro registerModal_1_1_1_3(p) %}	
	<div class="login-form mt-4">
		<form>
			<div class="form-group">
				<label for="exampleInputUsername">{{ p.v_txt_71 }}</label>
				<input type="text" class="form-control" id="exampleInputUsername"
																								placeholder="Enter Name" />
			</div>
			<div class="form-group">
				<label for="exampleInputEmail2">{{ p.v_label_Email }}</label>
				<input type="email" class="form-control" id="exampleInputEmail2"
																								 placeholder="Youremail@gmail.com" />
			</div>
			<div class="form-group">
				<label for="exampleInputPassword2">{{ p.v_lbl_pass }}</label>
				<input type="password" class="form-control" id="exampleInputPassword2"
																										placeholder="Password" />
			</div>
			<a href="{{ p.v_a_href__ }}" class="float-end text-muted font-size-15">{{ p.v_lbl_forgotpass }}</a>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck2" />
				<label class="custom-control-label font-size-15" for="customCheck2">{{ p.v_lbl_remember }}</label>
			</div>
			<div class="text-center mt-4">
				<button type="submit" class="btn btn-primary">{{ p.v_lbl_newuser }}<i class="icon-size-15 icon ms-1"
																																				 data-feather="arrow-right-circle"></i></button>
			</div>
		</form>

		{{ registerModal_1_1_1_3_3(p) }}


		{{ registerModal_1_1_1_3_5(p) }}

	</div>
{% endmacro %}

{# PRICING ##################################################}
{% macro pricing_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_pricing_title }}</h3>
				<p class="text-muted font-size-15">{{ p.v_pricing_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro pricing_1_3_1_1_1(p) %}	
	<div class="pricing-icon-bg my-4">
		<i class="mdi mdi-account h1"></i>
	</div>
{% endmacro %}

{% macro pricing_features(p,o) %}	
	<ul class="list-unstyled pricing-item mb-4">
		{% for feature in o.v_features %}
			<li class="text-muted">{{ feature }}</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro pricing_footer(p) %}	
	<div class="mt-4">
		<div class="hero-bottom-img">
			<img src="{{ p.v_img_src_images_pricing_bottom_bg_png }}" alt="" class="img-fluid d-block mx-auto" />
		</div>
	</div>
{% endmacro %}

{% macro pricing_option(p,o) %}	
	<div class="col-lg-4">
		<div class="pricing-box rounded text-center {{ "active" if o.v_highlighted }} p-4">
			<div class="pricing-icon-bg my-4">
				<i class="mdi mdi-account-multiple h1"></i>
			</div>
			<h4 class="title mb-3">{{o.v_title}}</h4>
			<h1 class="fw-bold mb-0"><b><sup class="h4 me-2 fw-bold">{{ p.v_currency }}</sup>{{ o.v_price }}</b></h1>
			<p class="text-muted font-weight-semibold">{{ o.v_unit }}</p>
			{{ pricing_features(p,o) }}
			<a href="{{ o.v_action_link }}" class="btn btn-primary pr-btn">{{ o.v_action_txt or p.v_action_txt }}</a>
			{{ pricing_footer(p) }}
		</div>
	</div>
{% endmacro %}


{% macro pricing(p) %}	
	<section class="section bg-light" id="{{p.id}}">
		<div class="container">
			{{ pricing_header(p) }}
			<div class="row">
				{% for o in p.options %}
					{{ pricing_option(p,o) }}
				{% endfor %}
			</div>
		</div>
	</section>
{% endmacro %}



{############################################################}
{% set twme= {
'hero': hero,
'whyus': whyus,
'features': features,
'pricing': pricing,
'blog': blog,
'contact': contact
} %}

{% macro r(p,tw) %}	
	<body>
		{{ light_dark_mode(p) }}
		{{ preloader(p) }}

		{% set_k p.defaults, "navitems", {} %}
		{% for id, data in p.sections %}
			{% set_k p.defaults.navitems,'#'+id, id %}
		{% endfor %}
		{{ navbar(p.defaults) }}

		{%for id, data in p.sections %}
			{{ DBG(data,"SECTION "+id+" "+data.type) }}
			{%  if twme[data.type] %}
				{% set_k p, "id", id %}
				{{ twme[data.type](data) }}
			{% else %}
				<div style="background: red;">{{ id }} NO_DEF_FOR_TYPE {{data.type}}<pre>{{ data | dump | safe}}</pre></div>
				{% endif %}
			{% endfor %}

			{{ footer(p.defaults) }}

			{{ loginModal(p) }}
			{{ registerModal(p) }}

			<!-- javascript -->
			<script src="js/bootstrap.bundle.min.js"></script>
			<script src="js/smooth-scroll.polyfills.min.js"></script>
			<script src="js/gumshoe.polyfills.min.js"></script>
			<!-- feather icon -->
			<script src="js/feather.js"></script>
			<!-- unicons icon -->
			<script src="js/unicons.js"></script>
			<!-- Main Js -->
			<script src="js/app.js"></script>

	</body>
{% endmacro %}
