{# ICONOS: https://feathericons.com/ #}
{# 
@d = 'ggjv/^#:s/\t/  /gggjv/^#k:w! g1ex/index.yaml' :
#}

{% import "lib/macros.njk" as gw with context %}
{% set DBG= gw.DBG %}

{# XXX:MOVER A LIB ##########################################}

{# NAVBAR ###################################################}
{% macro navbar_logo(p) %}	
	<a class="navbar-brand logo" href="{{ p.v_site_url }}">
		<!--
		<img src="#O-O#TRY_PATHS#{{ p.v_site_base_path }}images/logo-dark.png /l1b_/g1/images/logo-dark.png#" alt="{{ p.v_brand_name}} logo" class="logo-dark logo" />
		<img src="#O-O#TRY_PATHS#{{ p.v_site_base_path }}images/logo-light.png /l1b_/g1/images/logo-light.png#" alt="{{ p.v_brand_name}} logo" class="logo-light logo" />
		-->
		<img src="{{ p.v_site_base_path }}images/logo-dark.png" alt="{{ p.v_brand_name}} logo" class="logo-dark logo" />
		<img src="{{ p.v_site_base_path }}images/logo-light.png" alt="{{ p.v_brand_name}} logo" class="logo-light logo" />
	</a>
{% endmacro %}

{% macro navbar_navlist(p) %}	
	<ul class="navbar-nav mx-auto navbar-center" id="navbar-navlist">
		{% for link, text in p.navitems %}
			<li class="nav-item">
				<a data-scroll href="{{ link }}" class="nav-link">{{ text }}</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro navbar_actions(p) %}
	<ul class="navbar-nav navbar-center">
		<li class="nav-item">
			<a href="{{ p.v_linklogin }}" class="nav-link" data-bs-toggle="modal"
																										 data-bs-target="#loginModal">{{ p.v_a_login }}</a>
		</li>
		<li class="nav-item">
			<a href="{{ p.v_linklogin }}" class="nav-link" data-bs-toggle="modal"
																										 data-bs-target="#loginModal-1">{{ p.v_a_register }}</a>
		</li>
	</ul>
{% endmacro %}

{% macro navbar(p) %}	
	<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky navbar-light sticky-dark" id="navbar">
		<div class="container">
			{{ navbar_logo(p) }}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
																																						 aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="mdi mdi-menu"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				{{ navbar_navlist(p) }}
				{% if p.navactions %}{{ navbar_actions(p) }}{% endif %}
			</div>
		</div>
	</nav>
{% endmacro %}

{# HERO #####################################################}
{% macro ws_hero_slogan(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="text-center">
				<h1 class="text-white hero-6-title mb-4 line-height-1_4">{{ p.v_txt_hero_big }}</h1>
				<p class="text-white-50 w-75 mx-auto font-size-15">{{ p.v_txt_hero_small }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro ws_hero_action(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-8 ">
			<div class="text-center Subcribe-form mt-5">
				<form action="#">
					<input type="text" placeholder={{ p.v_txt_enter_mail or "Enter your Email..." }} />
					<button type="submit" class="btn rounded-pill btn-primary ml-2 ms-2">{{ p.v_txt_subscribe }}</button>
				</form>
			</div>
		</div>
	</div>
{% endmacro %}


{% macro ws_hero(p) %}	
	<section class="hero-6-bg position-relative" style="background-image: url(#O-O#TRY_PATHS:{{p.v_base_path}}images/hero-bg-1.jpg /l1b_/g1/images/hero-6-bg-img.jpg):" id="{{ p.id }}">
		<div class="bg-overlay"></div>
		<div class="container">
			{{ ws_hero_slogan(p) }}
			{{ ws_hero_action(p) }}
		</div>
	</section>
{% endmacro %}

{# WHY US ###################################################}
{% macro ws_whyus_reason_1(p,reason) %}	
	<div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
		<div class="wc-box-icon">
			<i class="mdi mdi-{{ reason.icon or "collage" }}"></i>
		</div>
		<h5 class="fw-bold mb-2 wc-title mt-4">{{ reason.title }}</h5>
		<p class="text-muted mb-0 font-size-15 wc-subtitle">{{ reason.text }}</p>
	</div>
{% endmacro %}

{% macro ws_whyus_reason_col(p,reasons) %}	
	<div class="col-md-6">
		{% for reason in reasons %}
			{{ ws_whyus_reason_1(p, reason) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro ws_whyus_reason_row(p, reasons) %}	
	<div class="col-lg-8 align-self-center">
		<div class="row">
			{% set medio= (p.reasons) | length / 2 %}
			{% for reasons_half in p.reasons | slice(medio) %}
				{{ ws_whyus_reason_col(p, reasons_half) }}
			{% endfor %}
		</div>
	</div>
{% endmacro %}

{% macro ws_whyus(p) %}	
	<section class="section" id="{{ p.id }}">
		<div class="container">
			<div class="row justify-content-center">
				{{ ws_whyus_reason_row(p) }}
			</div>
		</div>
	</section>
{% endmacro %}

{# FEATURES #################################################}
{% macro ws_features_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_title }}</h3>
				<p class="text-muted font-size-15">{{ p.v_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro ws_features_1_img(p,feature) %}	
	<div class="col-lg-6 align-self-center">
		<div class="mb-4 mb-lg-0">
			<img src="{{ p.v_site_base_path }}{{ feature.v_img }}" alt="" class="img-fluid d-block mx-auto" />
		</div>
	</div>
{% endmacro %}

{% macro ws_features_1_desc(p,feature) %}	
	<div class="col-lg-5 offset-lg-1 align-self-center">
		<p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i> {{ feature.v_group_txt }}</p>
		<h3 class="font-weight-semibold line-height-1_4 mb-4">{{ feature.v_title }}</h3>
		<p class="text-muted font-size-15 mb-4">{{ feature.v1 }}</p>
		<p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="{{ feature.v_icon_2  or 'layout'}}"></i> {{ feature.v2 }}</p>
		<p class="text-muted"><i class="icon-xs me-1" data-feather="{{ feature.v_icon_3 or 'life-buoy'}}"></i>{{ feature.v3 }}</p>
		<div class="mt-5">
			<a href="{{ feature.v_ask_link }}" class="btn btn-primary me-2">{{ feature.v_ask_txt or p.v_lbl_more }}</a>
			<a href="{{ feature.v_act_link }}" class="btn btn-soft-primary">{{ feature.v_act_txt }}</a>
		</div>
	</div>
{% endmacro %}

{% macro ws_features_1(p,feature) %}	
	<div class="row justify-content-center">
		{{ ws_features_1_img(p,feature) }}{#XXX: alternar izq der#}
		{{ ws_features_1_desc(p,feature) }}
	</div>
{% endmacro %}

{% macro ws_features(p) %}{#XXX:for#}	
	<section class="section bg-light feather-bg-img" style="background-image: url(images/features-bg-img.png);"
																									 id="{{p.id}}">
		<div class="container">
			{{ ws_features_header(p) }}
			{% for feature in p.features %}
				{{ ws_features_1(p,feature) }}
			{% endfor %}
		</div>
	</section>
{% endmacro %}

{# BLOG #####################################################}
{#- formato de collections SEE: https://www.11ty.dev/docs/collections/#collection-item-data-structure -#}	
{% macro ws_blog_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_blog_title }}</h3>
				<p class="text-muted font-size-15">{{ p.v_blog_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{# envolver las fechas para que las expanda app.js a formato local #}
{% macro datef(d) %}
	<span class="datef">{{d | dateJSON }}</span>
{% endmacro %}

{% macro ws_blog_post_1_meta(p,post) %}
	<ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
		<li class="list-inline-item me-3"><i class="icon-size-15 icon me-1" data-feather="calendar"></i>
		{{ datef(post.v_date or post.page.date) | safe }}</li>
		<li class="list-inline-item"><i class="icon-size-15 icon me-1" data-feather="user"></i>
		{{ post.v_author or post.data.author }}</li>
	</ul>
{% endmacro %}

{% macro ws_blog_post_1(p,post) %}	
	<div class="col-lg-4">
		<div class="blog-box mb-4 mb-lg-0">
			<img src="{{ post.v_img or post.data.img }}" alt="{{ post.data.img_alt or post.data.title }}" class="img-fluid d-block mx-auto rounded" />
			{{ ws_blog_post_1_meta(p,post) }}
			<a href="{{ p.v_link or post.page.url }}" class="fw-bold h5">{{ post.v_title or post.data.title }}</a>
			<p class="text-muted font-size-15">{{ post.v_txt or post.data.summary or (post.content | striptags | truncate(300)) }}</p>
			<a href="{{ p.v_link or post.page.url }}" class="text-primary  font-weight-semibold">{{ post.v_ask_txt or p.v_lbl_more or "more" }}<span class="ms-2 right-icon">&#8594;</span></a>
		</div>
	</div>
{% endmacro %}

{% macro ws_blog_posts(p) %}	
{%- set posts= p.posts -%}{%- if posts.collection -%}
{%- set posts= collections[p.posts.collection].slice(p.posts.from or 0,p.posts.count or 6) -%}
{%- if not (posts.order=="older") %}{% set posts= posts | reverse %}{% endif %}
{%- endif -%}
	<div class="row">
		{% for post in posts %}
			{{ ws_blog_post_1(p,post) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro ws_blog(p) %}	
	<section class="section" id="{{ p.id }}">
		<div class="container">
			{{ ws_blog_header(p) }}
			{{ ws_blog_posts(p) }}
		</div>
	</section>
{% endmacro %}


{# CONTACT ##################################################}
{% macro ws_contact_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_contact_title }}</h3>
				<p class="text-muted font-size-15">{{ p.v_contact_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro ws_contact_form(p) %}	
	<div class="custom-form mb-5 mb-lg-0">
		<form method="post" name="myForm" onsubmit="return validateForm()">
			<p id="error-msg"></p>
			<div id="simple-msg"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">{{ p.v_lbl_name }}</label>
						<input name="name" id="name" type="text" class="form-control"
																										 placeholder="{{ p.v_lbl_name }}" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="email">{{ p.v_lbl_emailaddr }}</label>
						<input name="email" id="email" type="email" class="form-control"
																												placeholder="{{ p.v_lbl_emailaddr }}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="comments">{{ p.v_lbl_message }}</label>
						<textarea name="comments" id="comments" rows="4" class="form-control"
																														 placeholder="{{ p.v_lbl_message }}"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" id="submit" name="send" class="btn btn-primary">{{ p.v_lbl_sendmessage }}<i class="icon-size-15 ms-2 icon" data-feather="send"></i></button>
				</div>
			</div>
		</form>
	</div>
{% endmacro %}

{% macro ws_contact_1_detail(p) %}	
	<div class="contact-detail text-muted ms-lg-5">
		{% for type,text in p.contact_items %}
			<p class=""><i class="icon-xs icon me-1" data-feather="{{ type }}"></i> : <span>{{ text }}</span> </p>
		{% endfor %}
	</div>
{% endmacro %}

{% macro ws_contact(p) %}	
	<section class="section bg-light" id="{{ p.id }}">
		<div class="container">
			{{ ws_contact_header(p) }}
			<div class="row justify-content-center">
				<div class="col-lg-7 align-self-center"> {{ ws_contact_form(p) }} </div>
				<div class="col-lg-5 align-self-center"> {{ ws_contact_1_detail(p) }} </div>
			</div>
		</div>
	</section>
{% endmacro %}

{# FOOTER ###################################################}
{% macro footer_links_contact(p) %}	
	<ul class="list-inline footer-social-icon-content">
		{% for where, href in p.v_contact_links %}
			<li class="list-inline-item me-4"><a href="{{ href }}" class="footer-social-icon {{ where }}"><i class="" data-feather="{{ where }}"></i></a></li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro footer_links_contact_col(p) %}	
	<div class="col-lg-4">
		<div class="mb-5">
			<img src="{{ p.v_site_base_path }}images/logo-light.png" alt="" class="" height="24" />
			<p class="text-white-50 my-4 font-size-15">{{ p.v_txt }}</p>
			{{ footer_links_contact(p) }}
		</div>
	</div>
{% endmacro %}

{% macro footer_links_1(p,col) %}	
	<ul class="list-unstyled footer-sub-menu">
		{% for link,text in col %}
			<li><a href="{{ p.link }}" class="footer-link">{{ text or link }}</a></li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro footer_links_1_col(p,col,title) %}	
	<div class="col-md-4">
		<h6 class="text-white text-uppercase mb-3">{{ title }}</h6>
		{{ footer_links_1(p, col) }}
	</div>
{% endmacro %}

{% macro footer_cols(p) %}	
	<div class="col-lg-7 offset-lg-1">
		<div class="row">
			{% for title,col in p.footer_cols %}
				{{ footer_links_1_col(p,col,title) }}
			{% endfor %}
		</div>
	</div>
{% endmacro %}

{% macro footer_link_cols(p) %}	
	<section class="footer" style="background-image: url(#O-O#TRY_PATHS:images/footer-bg.png {{ data.site.v_site_base_path}}images/footer-bg.png /l1b_/g1/images/footer-bg.png:)">
		<div class="container">
			<div class="row">
				{{ footer_links_contact_col(p) }}
				{{ footer_cols(p) }}
			</div>
		</div>
	</section>
{% endmacro %}


{% macro footer_copyright_band(p) %}	
	<div class="footer-alt py-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center">
						<p class="text-white-50 font-size-15 mb-0">
						{{ gw.copyright_text(p) }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro footer(p) %}
	{{ footer_link_cols(p) }}
	{{ footer_copyright_band(p) }}
{% endmacro %}

{############################################################}
{% macro ws_registerModal_1_1_1(p) %}	
	<div class="modal-body">
		{{ ws_registerModal_1_1_1_1(p) }}
		{{ ws_registerModal_1_1_1_3(p) }}
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1_3_3(p) %}	
	<div class="position-relative text-center mt-4">
		<span class="login-border"></span>
		<p class="social-login text-muted font-size-17">{{ p.v_lbl_oauth }}</p>
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1_3_5_1(p) %}	
	<ul class="list-inline mt-2 mb-3">
		<li class="list-inline-item me-3"><a href="{{ p.v_link }}" class="login-social-icon icon-primary"><i                                             class="icon-xs" data-feather="facebook"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_link }}" class="login-social-icon icon-info"><i                                             class="icon-xs" data-feather="twitter"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_link }}" class="login-social-icon icon-danger"><i                                             class="icon-xs" data-feather="instagram"></i></a></li>
		<li class="list-inline-item"><a href="{{ p.v_link }}" class="login-social-icon icon-success"><i                                             class="icon-xs" data-feather="linkedin"></i></a></li>
	</ul>
{% endmacro %}

{% macro ws_registerModal_1_1_3_5(p) %}	
	<div class="text-center">
		{{ ws_registerModal_1_1_3_5_1(p) }}
		<p class="text-muted mb-0">{{ p.v_lbl_newuser }}<a href="{{ p.v_link }}" class="text-primary">{{ p.v_a_signup }}</a></p>
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1_3(p) %}	
	<div class="login-form mt-4">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">{{ p.v_lbl_userormail }}</label>
				<input type="email" class="form-control" id="exampleInputEmail1"
																								 placeholder="Youremail@gmail.com" />
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">{{ p.v_lbl_pass }}</label>
				<input type="password" class="form-control" id="exampleInputPassword1"
																										placeholder="Password" />
			</div>
			<a href="{{ p.v_link }}" class="float-end text-muted font-size-15">{{ p.v_lbl_forgotpass }}</a>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck1" />
				<label class="custom-control-label font-size-15" for="customCheck1">{{ p.v_lbl_remember }}</label>
			</div>
			<div class="text-center mt-4">
				<button type="submit" class="btn btn-primary">{{ p.v_lbl_login }}<i class="icon-size-15 icon ms-1"
																																						data-feather="arrow-right-circle"></i></button>
			</div>
		</form>
		{{ ws_registerModal_1_1_3_3(p) }}
		{{ ws_registerModal_1_1_3_5(p) }}
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1(p) %}	
	<div class="modal-content login-page">
		{{ ws_registerModal_1_1_1(p) }}
	</div>
{% endmacro %}

{% macro ws_registerModal_1(p) %}	
	<div class="modal-dialog modal-dialog-centered" role="document">
		{{ ws_registerModal_1_1(p) }}
	</div>
{% endmacro %}

{% macro ws_registerModal(p) %}	
	<div class="modal fade" id="loginModal-1" tabindex="-1" role="dialog" aria-hidden="true">
		{{ ws_registerModal_1(p) }}
	</div>
{% endmacro %}

{% macro ws_logimModal(p) %}	
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		{{ ws_registerModal(p) }}
	</div>
{% endmacro %}

{# MODAL REGISTER ###########################################}

{% macro ws_registerModal_1_1_1_1(p) %}	
	<div class="text-center">
		<h3 class="title mb-4">{{ p.v_lbl_welcome }}</h3>
		<h4 class="text-uppercase text-primary"><b>{{ p.v_lbl_newuser }}</b></h4>
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1_1_3_3(p) %}	
	<div class="position-relative text-center mt-4">
		<span class="login-border"></span>
		<p class="social-login text-muted font-size-17">{{ p.v_lbl_oauth }}</p>
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1_1_3_5_1(p) %}	
	<ul class="list-inline mt-2 mb-3">
		<li class="list-inline-item me-3"><a href="{{ p.v_link }}" class="login-social-icon icon-primary"><i                                             class="icon-xs" data-feather="facebook"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_link }}" class="login-social-icon icon-info"><i                                             class="icon-xs" data-feather="twitter"></i></a></li>
		<li class="list-inline-item me-3"><a href="{{ p.v_link }}" class="login-social-icon icon-danger"><i                                             class="icon-xs" data-feather="instagram"></i></a></li>
		<li class="list-inline-item"><a href="{{ p.v_link }}" class="login-social-icon icon-success"><i                                             class="icon-xs" data-feather="linkedin"></i></a></li>
	</ul>
{% endmacro %}

{% macro ws_registerModal_1_1_1_3_5(p) %}	
	<div class="text-center">
		{{ ws_registerModal_1_1_1_3_5_1(p) }}
	</div>
{% endmacro %}

{% macro ws_registerModal_1_1_1_3(p) %}	
	<div class="login-form mt-4">
		<form>
			<div class="form-group">
				<label for="exampleInputUsername">{{ p.v71 }}</label>
				<input type="text" class="form-control" id="exampleInputUsername"
																								placeholder="Enter Name" />
			</div>
			<div class="form-group">
				<label for="exampleInputEmail2">{{ p.v_lbl_email }}</label>
				<input type="email" class="form-control" id="exampleInputEmail2"
																								 placeholder="Youremail@gmail.com" />
			</div>
			<div class="form-group">
				<label for="exampleInputPassword2">{{ p.v_lbl_pass }}</label>
				<input type="password" class="form-control" id="exampleInputPassword2"
																										placeholder="Password" />
			</div>
			<a href="{{ p.v_link }}" class="float-end text-muted font-size-15">{{ p.v_lbl_forgotpass }}</a>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="customCheck2" />
				<label class="custom-control-label font-size-15" for="customCheck2">{{ p.v_lbl_remember }}</label>
			</div>
			<div class="text-center mt-4">
				<button type="submit" class="btn btn-primary">{{ p.v_lbl_newuser }}<i class="icon-size-15 icon ms-1"
																																							data-feather="arrow-right-circle"></i></button>
			</div>
		</form>
		{{ ws_registerModal_1_1_1_3_3(p) }}
		{{ ws_registerModal_1_1_1_3_5(p) }}
	</div>
{% endmacro %}

{# PRICING ##################################################}
{% macro ws_pricing_header(p) %}	
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="text-center mb-5">
				<h3 class="title mb-3">{{ p.v_pricing_title }}</h3>
				<p class="text-muted font-size-15">{{ p.v_pricing_txt }}</p>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro ws_pricing_1_features(p,o) %}	
	<ul class="list-unstyled pricing-item mb-4">
		{% for feature in o.v_features %}
			<li class="text-muted">{{ feature }}</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro ws_pricing_1_footer(p) %}	
	<div class="mt-4">
		<div class="hero-bottom-img">
			<img src="{{ p.v_site_base_path }}{{ p.v_img }}" alt="" class="img-fluid d-block mx-auto" />
		</div>
	</div>
{% endmacro %}

{% macro ws_pricing_1_option(p,o,title) %}	
	<div class="col-lg-4">
		<div class="pricing-box rounded text-center {{ "active" if o.v_highlighted }} p-4">
			<div class="pricing-icon-bg my-4">
				<i class="mdi mdi-account-multiple h1"></i>
			</div>
			<h4 class="title mb-3">{{ title }}</h4>
			<h1 class="fw-bold mb-0"><b><sup class="h4 me-2 fw-bold">{{ o.v_currency }}</sup>{{ o.v_price }}</b></h1>
			<p class="text-muted font-weight-semibold">{{ o.v_unit }}</p>
			{{ ws_pricing_1_features(p,o) }}
			<a href="{{ o.v_action_link }}" class="btn btn-primary pr-btn">{{ o.v_action_txt or p.v_action_txt }}</a>
			{{ ws_pricing_1_footer(p) }}
		</div>
	</div>
{% endmacro %}


{% macro ws_pricing(p) %}	
	<section class="section bg-light" id="{{ p.id }}">
		<div class="container">
			{{ ws_pricing_header(p) }}
			<div class="row">
				{% for title,o in p.options %}
					{{ ws_pricing_1_option(p,o,title) }}
				{% endfor %}
			</div>
		</div>
	</section>
{% endmacro %}


{# S: compose toolkit (you may import from other tk) ########}
{% set twme= {
'hero': ws_hero,
'whyus': ws_whyus,
'features': ws_features,
'pricing': ws_pricing,
'blog': ws_blog,
'contact': ws_contact,
'html': gw.ws_html,
'registerModal': ws_registerModal
} %}

{% macro r(p,content,tw) %}	{%- set tw= tw or twme -%}
{%- set_k p,"sections",p.sections or {} -%}
{%- if content -%}
{%- set_k p.sections,"content",{'type': 'html', 'html': content} -%}
{%- endif -%}
{%- set title= title or p.site.v_brand_name or "XXX:title" -%}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ gw.head_meta(p) }}
		<link href="/l1b_/g1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/l1b_/g1/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
		<link href="#O-O#TRY_PATHS#style.css {{ data.site.v_site_base_path }}style.css /l1b_/g1/css/style.css#" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{{ gw.light_dark_mode(p) }}
		{% if p.use_preloader %}{{ gw.preloader(p) }}{% endif %}

		{% set navbar_data= {} | mix_kv(p.labels, p.site, p.navbar,{'navitems':{} }) %}
		{% for id, data in p.sections %}
			{% set_k navbar_data.navitems,'#'+id, id %}
		{% endfor %}
		{{ DBG(navbar_data,"NAVBAR") }}
		{{ navbar(navbar_data) }}

		{%for id, data in p.sections %}
			{% if data %}
				{{ DBG(data,"SECTION "+id+" "+data.type) }}
				{% set data_full= data | mix_kv (p.labels, p.site, data, {'id': id }) %}
				{%  if tw[data.type] %}
					{{ twme[data.type](data_full) }}
				{% else %}
					<div style="background: red;">{{ id }} NO_DEF_FOR_TYPE {{data.type}}<pre>{{ data | dump | safe}}</pre></div>
					{% endif %}
				{% endif %}
			{% endfor %}

			{% set footer_data= {} %}{# XXX:inventar una forma mejor de merge #}
			{% mix_kv footer_data, p.labels, p.site, p.footer %}
			{{ DBG(footer_data, "FOOTER") }}
			{{ footer(footer_data) }}

			<!-- XXX:modals van aca -->

			<script src="/l1b_/g1/js/bootstrap.bundle.min.js"></script>
			<script src="/l1b_/g1/js/smooth-scroll.polyfills.min.js"></script>
			<script src="/l1b_/g1/js/gumshoe.polyfills.min.js"></script>
			<script src="/l1b_/g1/js/feather.js"></script>
			<script src="/l1b_/g1/js/unicons.js"></script>
			<script src="/l1b_/g1/js/app.js"></script>

	</body>
</html>
{% endmacro %}



