---
layout: g1/page_data.njk
mytpl: "x2.njk"
permalink: "{{ page.filePathStem | someparts(0,-1) }}/"
collection: all
---
{%- if content | trim == "" -%}
{%- set content -%}
{%- markdown -%}
# {{ title }}

{%- for item in collections[collection] -%}
   * [{{ item.data.title }}]({{item.page.url}})
{%- endfor -%}

{%- endmarkdown -%}
{%- endset -%}
{%- endif -%}

{%- import (page_theme or "g1")+"/macros.njk" as tw with context -%}
{{ tw.r(data,content) }}
