---
layout: g1/page_data.njk
mytpl: "x2.njk"
pagination:
  data: items
  size: 1
  alias: my
  resolve: values #A: it's an {}
  addAllPagesToCollections: true
eleventyComputed:
  my_title: "{{ my[ title_col or 'title' ] or 'item' }}"
  title: "{{ my_title }}"
  permalink: "{{ page.filePathStem }}/{{ my_title | slugify }}/"
---
{% if content | trim == "" %}
{% set content %}
{% markdown %}
# {{ my_title }}

[[toc]]

{% for k,v in my %}
## {{ k }}

{{ v | safe }}

{% endfor %}    
{% endmarkdown %}
{% endset %}
{% endif %}

{% import (page_theme or "g1")+"/macros.njk" as tw %}
{{ tw.r(data,content) }}
