---
layout: lib/page_data.njk
mytpl: "x2.njk"
permalink: "{{ page.filePathStem | someparts(0,-1) }}/"
collection: items
---
{%- if content | trim == "" -%}
{%- markdown -%}
# {{ title }}

{% for item in collections[collection] %}
   * [{{ item.data.title }}]({{item.page.url}})
{% endfor %}

{%- endmarkdown -%}
{%- endif -%}
