{% macro DBG(p,txt) %}
<!-- DBG:{{txt or ""}} {{ p | dump | safe }} -->
{% endmacro %}

{# CSS NEUTRAL ###################################################}
{% macro head_meta(p) %}
	<meta charset="utf-8">
	<meta name="google-site-verification" content="TODO" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or p.title }}</title>
	<link rel="shortcut icon" href="{{ p.v_site_base_path }}images/favicon.ico">
	<meta name="description" content="{{ description or cfg.description }}">
	<meta content='{{ title or p.title }}' property='og:title'/>
	<meta content='{{ p.v_brand_name }}' property='og:author'/>
	<meta content='{{ p.v_agency_name }}' property='og:developer'/>
	<meta content='{{ title or cfg.title }}' name='facebook:title'/>
	<meta content='website' property='og:type'/>
	<meta content='TODO' property='facebook:author'/>
	<meta content='TODO' name='facebook:image'/>
	<meta content='{{ p.v_brand_name }}' property='og:site_name'/>
	<meta content='{{ description or p.description }}' property='facebook:description'/>
	<meta content='TODOsummary_large_image' name='twitter:card'/>
	<meta content='{{ p.v_contact_links.twitter }}' property='twitter:author'/>
	<meta content='{{ p.v_site_url }}' name='twitter:site'/>
	<meta content='TODO' name='twitter:image'/>
	<meta content='{{ description or p.description }}' name='twitter:description'/>
	<meta content='{{ title or p.title }} ' name='twitter:title'/>
	<meta content='{{ title or p.title }}' name='keywords'/>
	<meta content='index, follow' name='robots'/>
	<link rel="apple-touch-icon" href="TODO">
	<link rel="icon" type="image/x-icon" href="TODO" />
	<link rel="author" href="{{ p.v_agency_url }}" />
	<link rel="alternate" href="{{ TODO_feed_xml }}" type="application/atom+xml" title="{{ title or p.title }}">
	<link rel="alternate" href="{{ TODO_feed_json }}" type="application/json" title="{{ title or p.title }}">
{% endmacro %}

{% macro copyright_text(p) %}
	<script>{{ "document.write(new Date().getFullYear())" }}</script> © {{ p.v_brand_name }} by {{ p.v_agency_name }}
{% endmacro %}

{# CSS OUR STANDARD ##############################################}
{% macro ws_html(p) %}
	<section class="section" id="{{ p.id }}">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					{{ p.html | safe }}
				</div>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro light_dark_mode(p) %}	
	<a href="javascript: void(0);" id="light-dark-mode" class="mode-btn text-white rounded-end">
		<i class="mdi mdi-sun-compass bx-spin mode-light"></i>
		<i class="mdi mdi-moon-waning-crescent mode-dark"></i>
	</a>
{% endmacro %}

{% macro status(p) %}	
	<div id="status"><div class="spinner"></div></div>
{% endmacro %}

{% macro preloader(p) %}	
	<div id="preloader">{{ status(p) }}</div>
{% endmacro %}

{% macro copyright_text(p) %}
	{{ DBG(p,"copyright_text") }}
	<script>{{ "document.write(new Date().getFullYear())" }}</script> © {{ p.v_brand_name }} by {{ p.v_agency_name }}
{% endmacro %}

{# SEARCH ###################################################}
{% macro collection_urls(colname) %}
{%- for e in collections[colname] %} {{e.page.outputPath}}={{e.page.url}}{% endfor -%}
{% endmacro %}

{% macro search_collection(colname) %}
<script src="/js/lunr.js"></script>
<h1>Results</h1>
<ul id="results">
	Searching...
</ul>
<script>
	const p = new URLSearchParams(location.search)
	const q = p.get('q')
	fetch('#O-O#SEARCH_IDX:col_{{colname}} {{collection_urls(colname)}}:').then( r => r.json() ).then( j => {
		var idx = Lunr.lunr.Index.load(j)
		var res= idx.search(q)
		let html= res.map( r => {
			let [url, title]= r.ref.split('\t',2)
			return `<li><a href="{{SiteBasePath}}${url}">${title}</a></li>` //A: template!
		}).join('\n');
		document.getElementById('results').innerHTML= html;
	})
</script>
{% endmacro %}
