---
permalink: feed/.htaccess
eleventyExcludeFromCollections: true
---
# For Apache, to show `{{ cfg.feed.filename }}` when browsing to directory /feed/ (hide the file!)
DirectoryIndex {{ cfg.feed.filename }}
