---
data:
  sections:
    home:
      type: hero
      v_txt_hero_big: El servicio contable que necesitás
      v_txt_hero_small: lo encontramos, te damos opciones
      v_txt_subscribe: Quiero saber más
    contacto:
      type: contact
      v_contact_title: Contacto
      v_contact_txt: "Quiero que me contacten por esta consulta:"
      contact_items:
        mail: contador@o-o.fyi
        link: https://o-o.fyi/contador
        map-pin: Argentina
---
