---
data:
  reuse:
    logo: &logo
      sketch: logo
      text: "S60:🧮Contador" # SEE: https://emojipedia.org/chart-increasing 
      width: 1000
      bgcolor: 0
  images_gen:
    images/logo-dark.png:
      <<: *logo
      color: "#287167"
    images/logo-light.png:
      <<: *logo
      color: "#ffffff"
      bgcolor: "#287167"
  sections:
    servicios contables:
      type: contact_fullwidth
      v_contact_title: Los servicios contables que busco
      v_contact_txt: "(sólo te contactamos con opciones que te sirvan, nunca SPAM)"
      v_form_type: contact_and_checks
      contact_items:
        mail: contador@o-o.fyi
        link: https://o-o.fyi/contador
        map-pin: Argentina
      checks:
        - Monotributo
        - Responsable Inscripto
        - Cryptomonedas
        - Más de una provincia
        - Convenio multilateral
        - Economía del Conocimiento
        - Convenio Multilateral
---
