---
permalink: false #A: no escribimos este archivo, solo los logos
logo: &logo
  sketch: logo
  text: "🧮📈A" # SEE: https://emojipedia.org/chart-increasing 
imagenes:
  images/logo-dark.png:
    <<: *logo
    color: "#287167"
    bgcolor: "#ffffff"
  images/logo-light.png:
    <<: *logo
    color: "#ffffff"
    bgcolor: "#287167"
---
{% for fname,d in imagenes %}
  {% p5gen d | mix_kv({'fname': fname}) %}
{% endfor %}
