</div>
    </div>
    <footer class="text-center border-top p-1"><small><small><a href="https://o-o.fyi/web">O-O.fyi</a></small></small></footer>
    <script src="{{ '/' | url }}css/bs.js"></script>
  </body>
</html>
