---
layout: 
permalink: "{{ cfg.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ cfg.title }}",
  "language": "{{ cfg.language }}",
  "home_page_url": "{{ cfg.url }}",
  "feed_url": "{{ cfg.jsonfeed.url }}",
  "description": "{{ cfg.description }}",
  "author": {
    "name": "{{ cfg.author.name }}",
    "url": "{{ cfg.author.url }}"
  },
  "items": [
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(cfg.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
